@import "src/assets/styles/colors";
$MENU_WIDTH: var(--MENU_WIDTH);

.menu{
  background: $MAIN_DARK_COLOR !important;
  transition: all 1s !important;
 width:  $MENU_WIDTH !important;
}

.navBlock{
  padding-top: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonOpen{
  height: 50px;
}

.imgMenu{
  width: 45px;
}



.navLink{
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  color: $MAIN_WHITE_COLOR;
  font-size: 30px;
  font-weight: bold;
  padding-left:25px ;
  gap: 15px;
}

.activeNavLink{
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  color: $MAIN_WHITE_COLOR;
  font-size: 30px;
  font-weight: bold;
  background: $MAIN_ACTIVE_SECTION_COLOR;
  padding-left:25px ;
  gap: 15px;
  border-right: 3px solid $MAIN_WHITE_COLOR;

}

.navLink:hover, .activeNavLink:hover{
  background: $MAIN_HOVER_COLOR;
  color: $MAIN_WHITE_COLOR;
  transition: all 0.3s;
}


.navTitle{
  margin: 0 10px;
  max-width: 100%;
  overflow: clip;
}

.logOut{
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  color: black;
  font-size: 30px;
  font-weight: bold;
  padding-left:25px ;
  gap: 15px;
  margin-bottom: 30px;
  background: $MAIN_DARK_COLOR;
  border: none;
}

.logOut:hover{
  background: $MAIN_HOVER_COLOR;
  color: black;
  transition: all 0.3s;
}

