.travel {
  background: #112d59;
  margin-left: 310px;
  margin-right: 10px;
  margin-top: 20px;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 20px;
}

.label{
  color: white;
  font-weight: bold;
}

.row{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.tripsList{
  margin-top: 20px;
  background: white;
  border-radius: 20px;
}
