$MAIN_BODY_COLOR : #ECF2FF !default;
$MAIN_BORDER_COLOR : #EDECF2 !default;
$MAIN_CARD_COLOR : #FAFBFF !default;
$CARD_TITLE_COLOR : #343965 !default;
$MAIN_DARK_COLOR : #425171 !default;
$MAIN_WHITE_COLOR : #bdc8f0 !default;
$MAIN_ACTIVE_SECTION_COLOR : #2E3A9026 !default;
$MAIN_TITLE_COLOR : #585CE5 !default;
$MAIN_HOVER_COLOR : #e3f2fd26 !default;
$MAIN_BUTTON_COLOR : #585CE5 !default;




//BORDER_RADIUS
$MAIN_BORDER_RADIUS : 20px !default;


//INTERACTIVE ELEMENTS
$MAIN_ELEMENTS_HEIGHT : 52px !default;


//INPUT
$MAIN_FOCUS_COLOR : #585CE5 !default;
$MAIN_HOVER_COLOR : #343965 !default;


//MENU
$LEFT_MENU_IS_OPENED_WIDTH: 300px !default;
$LEFT_MENU_IS_NOT_OPENED_WIDTH: 65px !default;
